/* alles */

/* navigatie */

header {
    font-size: 1.2em;
    font-family: "Avenir";
}

nav {
    background-color: hotpink;
    top: 0;
    left: 0;
    height: 3.5em;
    position: fixed;
    z-index: 3;
    width: 100%;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    list-style-type: none;
    padding: 1em;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    transition: 0.8s;
    transition-timing-function: ease-in;
}

li:first-of-type > a {
    color: yellow;
}

li:hover:nth-of-type(n+2) {
    background-color: limegreen;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    transform: rotate(10deg);
}

li:first-of-type {
    margin-right: auto;
    font-weight: bolder;
}

li:first-of-type > a:hover {
    color: limegreen;
    transition: 0.8s;
    transition-timing-function: ease-out;
}

/* algemeen */

h1,
h2,
h3,
h4 {
    font-family: "Avenir";
    font-size: 2em;
    padding-left: 0.8em;
    padding-top: 2em;
}

p {
    font-family: sans-serif;
    padding-left: 1em;
    font-size: 1.6em;
    margin-right: 8em;
}

/* about me */

#andreja {
    height: 25em;
    margin-left: 1.5em;
    position: relative;
    opacity: 0.4;
    transition: 0.4s;
}

#andreja:hover {
    opacity: 1;
    transition: 0.4s;
}

#visual {
    color: yellow;
    font-size: 1.6em;
    font-weight: bold;
    position: absolute;
    margin-top: -2em;
    margin-left: 1.8em;
}

#overmij {
    color: limegreen;
    font-weight: bold;
    position: absolute;
    margin-top: -15.6em;
    margin-left: 7em;
    max-width: 30em;
    min-width: 22em;
}

/* main work */

#filter {
    font-size: 0.8em;
    padding-bottom: 1em;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 0fr);

}

main > article > a > img {
    width: auto;
    height: 15em;
    padding: 3em;
    transform: scale(1);
    transition: 0.8s;
    transition-timing-function: ease-in;
}

main > article > a > img:hover {
    transform: scale(1.2);
    transition: 1.2s;
    transition-timing-function: ease-out;
    filter: grayscale(100) blur(2px);
}

.tekst {
    position: absolute;
    z-index: 1;
    margin-left: 1em;
    margin-top: 10em;
}

/* contact */

#mail {
    width: 2em;
    height: 2em;
    padding: 1em;
    transform: scale(1);
    transition: 0.2s;
    transition-timing-function: ease-in;
}

#mail:hover {
    transform: scale(1.1);
    transition: 0.5s;
    transition-timing-function: ease-out;
}

/* media */

@media (max-width: 48em) {

    /* navigatie */
    nav {
        top: 34em;
        bottom: 0;
        transition: 2s;
    }

    nav > ul > li > a {
        font-size: 0.8em;
    }

    /* algemeen */
    h1,
    h2,
    h3 {
        font-size: 1.4em;
        padding-top: 0.2em;
    }

    p {
        font-size: 1em;
        margin-right: 1em;
        display: flex;

    }
    /* about me */
    #visual {
        color: yellow;
        font-size: 1.3em;
        font-weight: bold;
        position: absolute;
        margin-top: -2em;
        margin-left: 9.8em;
    }
    #overmij {
        color: limegreen;
        font-weight: bold;
        position: absolute;
        margin-top: -18em;
        margin-left: 0;
        margin-right: 9em;
    }

    #andreja {
        height: 20em;
        position: relative;
        margin-left: 12em;
        opacity: 0.7;
        transition: 0.4s;
    }

    #andreja:hover {
        opacity: 1;
        transition: 0.4s;
    }

    /* main */
    main {
        grid-template-columns: repeat(1, 0fr);
    }

    main > article > a > img {
        width: 20em;
        height: 20em;
    }


}
