/* navigatie */

header {
    font-size: 1.2em;
    font-family: "Avenir";
}

nav {
    background-color: lightgoldenrodyellow;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

}

nav > ul > li {
    list-style-type: none;
    padding: 1em;
}

li:hover {
    text-decoration: underline;   
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}


li:first-of-type {
    margin-right: auto;
    text-decoration: none;
}

/* algemeen */
h1, h2, h3 {
    font-family: "Avenir";
    font-size: 1.2em;
    padding-left: 1em;
    padding-top: 2em
}

p {
    font-family: sans-serif;
    padding-left: 1em;

}
/* about me */

/* main work */

#filter {
    font-size: 0.8em;
    padding-bottom: 1em;
    
}
main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

main > article > a > img {
    width: auto;
    max-height: 10em;
    padding: 2em;
    transform: scale(1);
    transition: 0.8s ; 
    transition-timing-function: ease-in;
}

main > article > a > img:hover {
    transform: scale(1.2);
    transition: 1.2s ; 
    transition-timing-function: ease-out;
    filter: grayscale(100) blur(2px);
}

main > article > header {
    position: absolute;
}

/* contact */

#mail {
    width: 2em;
    height: 2em;
    padding: 1em;
    transform: scale(1);
    transition: 0.2s ; 
    transition-timing-function: ease-in;
}

#mail:hover {
    transform: scale(1.2);
    transition: 0.5s ; 
    transition-timing-function: ease-out;
}

/* media */

@media 
